# Ignore everything
*

# Allow files and directories
!/backend
!/package.json
!@c8y/node-red-storage-plugin
!@c8y/node-red-client
!/yarn.lock
!/settings.js
!/index.js

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/node_modules
**/*.zip
**/*.tar
**/.env
**/dist
**/lib